/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap");

:root,
.default-font {
  font-family: "New Tegomin", monospace;
  overflow-wrap: break-word;
}

body {
  display: flex;
  justify-content: center;
}
.main-title {
  font-family: "Peralta", fantasy;
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Peralta", fantasy;
  cursor: url(./link.svg) 12 12, url(./link.svg), pointer;
}
h1::before {
  content: "¶ ¶ ¶";
  float: right;
  padding-left: 0.25em;
}
h2::before {
  content: "¶ ¶";
  float: right;
  padding-left: 0.25em;
}
h3::before {
  content: "¶";
  float: right;
  padding-left: 0.25em;
}

#testResult {
  font-size: 175%;
}

#main {
  max-width: min(100%, 50em);
}

p {
  text-align: justify;
}

/**
 * I made this color a little brighter than normal.
 * Because .highlight uses an underline, and this uses an underline, I wanted to make a bigger and more obvious difference in the color.
 */
a:visited {
  color: violet;
}

/**
 * The New Tegomin font does not support bold, so I'm using this instead.
 */
.highlight {
  font-style: italic;
  text-decoration: underline;
  text-shadow: 0 0 0.2em #ffe000;
}

/**
 * This is a common style for code.
 *
 * Note that I'm keeping the "monospace" font-family for <code> elements.
 * That font looks a little like New Tegomin, which I'm using for the bulk of my text,
 * so I added the colors to make the difference more obvious.
 */
code {
  background-color: lightblue;
  border-radius: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: blue;
}

.redacted {
  font-family: "Redacted Script", cursive;
}
