/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

:root {
  font-family: "New Tegomin", monospace;
}

body {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Peralta", fantasy;
}

#testResult {
  font-size: 175%;
}

#main {
  max-width: 50em;
}

p {
  text-align: justify;
}

.highlight {
  font-style: italic;
  text-decoration: underline;
}